:root {
  --pcol: black;
  --scol: white;
  --tspeed: 0.5s;
  --base-scale: 1.1;
  --subMenu-width: 12.25rem;
/*
  --fgrad: linear-gradient(
    139deg,
    rgba(51, 51, 51, 1) 16%,
    rgb(136, 44, 44) 52%,
    rgba(51, 51, 51, 1) 88%
  );
  --sgrad: linear-gradient(
    139deg,
    rgba(51, 51, 51, 1) 16%,
    rgb(129, 28, 129) 76%,
    rgba(51, 51, 51, 1) 100%
  );
*/
  --rm-font-size: 0.875rem;
  --sm-font-size: 0.65rem;
}


/* ------------- AdminClubView ---------------- */
.clubContainer{
  display: flex;
  justify-content: space-between;
}
.gestionclubContainer{
  height: 80vh;
  width: 45vw;
  margin:20px;
  background-color: grey;
}
