:root {
  overflow: hidden;
  --orange: #fb5529;
  --grey : #232531;
  --lightGrey: #4f5260;
  --pcol: rgb(251,85,41);
  --scol: white;
  --tspeed: 0.5s;
  --base-scale: 1.1;
  --subMenu-width: 12.25rem;


  --fgrad: linear-gradient(
    139deg,
    rgba(51, 51, 51, 1) 2%,
    rgb(251,85,41) 50%,
    rgba(51, 51, 51, 1) 98%
  );
  --sgrad: linear-gradient(
    139deg,
    rgba(51, 51, 51, 1) 16%,
    rgb(251,85,41) 86%,
    rgba(51, 51, 51, 1) 100%
  );


}::-webkit-scrollbar{
  display:none
}

/* ------------- Global CSS ---------------- */
.backgroundContainer{
  height:100vh;
  width: 100vw;
  background-color: var(--lightGrey);
}
.doubleContainer{
  display: flex;
  justify-content: space-between;
}
.demiContainer{
  width: 45vw;
  height:75vh;
  margin:20px;
  background-color: white;
  border-radius: 25px;
  border: 3px solid #fb5529;

}
.titleContainer{
  display: flex;
  margin-top: 10px;
  color: var(--lightGrey);
  font-size: 20px;
  font-weight: bold;
}
.titleText{
  margin-left:auto;
  margin-right:auto

}
.scoreInput{
  max-width: 80px;
  margin-left:2px;
  margin-right:2px;
  border-radius: 5px;
  border: 1px solid var(--orange)
}
.btn{
   background-color: #fb5529;
   color: #fff;
}
.boutonDelete{
  cursor: pointer;

  background-color: var(--grey);
  padding-bottom: 1.5px;
  border-radius: 5px;

}

/* ------------- ResultatsView ---------------- */
.pronosticsActuelsContainer{
  max-height:88%;
  overflow-y: scroll;
}
.ResultPronosticFragmentContainer{
  border: solid 2px var(--lightGrey);
  border-radius: 10px;
  margin:5px;
  padding:5px;
}
.ResultPronosticFragmentRencontreText{
  text-align: center;
  color: #fb5529;
  font-weight: bold;
}
.ResultPronosticFragmentPronoResultContainer{
  display: flex;
  justify-content: space-between;
  margin-right: 20%;
  margin-left: 20%
}
.ResultPronosticFragmentPronosticText{
}
.ResultPronosticFragmentResultatText{

}
.ResultPronosticFragmentPointsContainer{
  display: flex;
  justify-content: center;
}

/* ------------- GestionPronosticsView --------------- */
.RencontresManagementContainer{
  height:88%;
  overflow-y: scroll;
  justify-content: center;
  padding : 10px

}
.adminRencontreFragmentContainer{
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  border: solid 2px var(--lightGrey);
  border-radius: 10px;
  margin:5px;
  padding:5px;
}
.addRencontreContainer{
  display: flex;
  justify-content: center
}
.addRencontreInput{
  margin:2px;
}
/* ------------- ClubView ---------------- */


/* ------------- ProfilView ---------------- */
