:root {
  overflow: hidden;
  --orange: #fb5529;
  --grey : #232531;
  --lightGrey: #4f5260;
  --pcol: rgb(251,85,41);
  --scol: white;
  --tspeed: 0.5s;
  --base-scale: 1.1;
  --subMenu-width: 12.25rem;


  --fgrad: linear-gradient(
    139deg,
    rgba(51, 51, 51, 1) 10%,
    rgb(251,85,41) 50%,
    rgba(51, 51, 51, 1) 98%
  );
  --sgrad: linear-gradient(
    139deg,
    rgba(51, 51, 51, 1) 16%,
    rgb(251,85,41) 86%,
    rgba(51, 51, 51, 1) 100%
  );


}::-webkit-scrollbar{
  display:none
}

/* ------------- Global CSS ---------------- */
.backgroundContainer{
  height:100vh;
  width: 100vw;
  background-color: var(--lightGrey);
  font-family: Abel;
  overflow: scroll

}
.loader{
  text-align: center;

}
.titlePage{
  color: white;
  text-align: center;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 0px
}
.doubleContainer{
  display: flex;
  justify-content: space-between;
}
.demiContainer{
  width: 45vw;
  height:75vh;
  margin:20px;
  background-color: white;
  border-radius: 25px;
  border: 3px solid #fb5529;

}
.titleContainer{
  display: flex;
  margin-top: 10px;
  color: var(--lightGrey);
  font-size: 20px;
  font-weight: bold;
}
.titleText{
  margin-left:auto;
  margin-right:auto

}
.scoreInput{
  margin-top: 5px;
  max-height:38px;
  max-width: 80px;
  margin-left:2px;
  margin-right:2px;
  border-radius: 5px;
  border: 1px solid var(--orange)
}
.btn{
   background-color: #fb5529;
   color: #fff;
   margin: 5px;
}
.boutonDelete{
  cursor: pointer;
  background-color: var(--grey);
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  border-radius: 5px;
}
.boutonDeleteSmall{
  cursor: pointer;
  background-color: var(--grey);
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  border-radius: 5px;
  font-size:12px;
}

/* ------------- ResultatsView ---------------- */
.pronosticsActuelsContainer{
  max-height:88%;
  overflow-y: scroll;
}
.ResultPronosticFragmentContainer{
  border: solid 2px var(--lightGrey);
  border-radius: 10px;
  margin:5px;
  padding:5px;
}
.ResultPronosticFragmentRencontreText{
  text-align: center;
  color: #fb5529;
  font-weight: bold;
}
.ResultPronosticFragmentPronoResultContainer{
  display: flex;
  justify-content: space-between;
  margin-right: 20%;
  margin-left: 20%
}
.ResultPronosticFragmentPronosticText{
}
.ResultPronosticFragmentResultatText{

}
.ResultPronosticFragmentPointsContainer{
  display: flex;
  justify-content: center;
}

/* ------------- GestionPronosticsView --------------- */
.RencontresManagementContainer{
  height:88%;
  overflow-y: scroll;
  justify-content: center;
  padding : 10px
}
.pronosticsManagementContainer{
  justify-content: center;
  padding : 10px
}
.adminRencontreFragmentContainer{
  display: flex;
  justify-content: space-between;
  border: solid 2px var(--lightGrey);
  border-radius: 10px;
  margin:5px;
  padding:5px;
}
.addRencontreContainer{
  display: flex;
  justify-content: center
}
.addRencontreInput{
  margin:2px;
}

.adminPronosticTabTitleContainer{
  display: flex;
  justify-content: space-around;
  color: #fb5529;
  font-weight: bold;
}
.adminPronosticTableContainer{
  border: solid 2px var(--lightGrey);
  border-radius: 10px;
  margin:5px;
  padding:5px;
  max-height:60vh;
  overflow-y: scroll;
}
.adminPronosticFragmentContainer{
  display: inline-flex;
}
.adminPronosticFragmentContainerCell{
width: 14.5vw;
margin-top: 5px;
margin-bottom: 5px;
text-align: center
}
/* ------------- GestionClubView ---------------- */
.equipeFragment{
  position: relative;
  display: inline-flex;
  width: 45%;
  height: 40px;
  border: solid 2px var(--lightGrey);
  border-radius: 10px;
  align-items: center;
  margin: 2%;
  padding: 2%;
}
.equipeFragmentText{
  width:50%;
}
.deleteEquipe{
  position: absolute;
  right: 5px;
}
.addEquipeContainer{
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.matriculeContainer{
  width: 30%;
  max-height:100%;
  overflow-y: scroll;
  border: solid 2px #fb5529;
  border-radius: 5px;
  text-align: center;
}
.matriculeFragment{
  position: relative;
  border: solid 2px var(--lightGrey);
  border-radius: 10px;
  margin: 2%;
}
.deleteMatricule{
  position: absolute;
  top:-2px;
  right:5px
}
.joueursContainer{
  width: 70%;
  margin-left: 1%;
  max-height:100%;
  text-align: center;
  overflow-y: scroll;
  border: solid 2px #fb5529;
  border-radius: 5px;
}
.pronostiqueurFragment{
  position: relative;
  display: flex;
  height: 40px;
  border: solid 2px var(--lightGrey);
  border-radius: 10px;
  align-items: center;
  margin: 2%;
  padding: 2%;
}
.pronostiqueurFragmentText{
  width:45%;
}
.editButton{
  position: absolute;
  top:-2px;
  right:-5px;
  cursor: pointer
}
.editPointInput{
  max-height:30px;
  width: 40px;
  margin-left: 5px;
  border: 1px solid var(--lightGrey);
  border-radius: 5px;
}
/* ------------- ProfilView ---------------- */
.BienvenueText{
  font-size: 35px;
  text-align: center;
  font-weight: bold;
  color: white;
  padding: 3%
}
.HomeDescriptionContainer{
  width: 60vw;
  padding-left: 15%;
  padding-bottom: 10%;
}
.HomeDescriptionTitle{
  font-size: 22px;
  color: #fb5529;
  font-weight: bold;
}
.HomeDescriptionText{
  font-size: 16px;
  color: white
}
.HomeMobileAppContainer{
  width: 30vw;
  min-height:70vh;
  position: absolute;
  top:15%;
  right:5%;
  background-color: white;
  border-radius: 5%;
  border: solid 2px #fb5529;
}
.HomeMobileAppTitle{
  color: #fb5529;
  padding: 2%;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}
.EtapeDownload{
  color: black;
  text-align: left;
  font-size:  16px;
  padding-left: 2%;
}
/* ------------- ProfilView ---------------- */
.profilContainer{
  margin-top: 20px;
  width: 50vw;
  background-color: white;
  border: solid 2px #fb5529;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
}
.informationsContentContainer{
  text-align: center;
  font-size: 17px;
}
.editInfoContainer{
  margin-top: 5px;
}
.editUsernameContainer{
  display: flex;
  width: 75%;
  margin-left: 20%
}
.changeUsernameInput{
  margin-bottom: 5px;
  max-width:40%;
  height: 40px;
  margin-left: 5px;
}
.editBtn{
  align-self: center;
  margin-bottom: 50px;
  height: 38px;
}
.editPasswordContainer{
  margin-top: -25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logoutBtnContainer{
  display: flex;
  justify-content: center;
}
.logoutBtn{
  background-color: red;
  height: 40px;
  margin-top: 15px;
  border-radius: 50px;
  text-align: center;
  padding: 7.5px 70px 10px 70px;
  cursor: pointer;
  color: white;
  font-size: 18px;
}
.logoutBtn:hover{
text-decoration: none;
color: white
}
/* ------------- ClassementView ---------------- */

.classementContainer{
  display: flex;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #fb5529;
  border-radius: 5px;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: #fb5529;
  max-height: 73vh;
  overflow-x: scroll
}
.tableContainer{
  width: 100%;
  border-radius: 5px;
  background-color: white;
  margin-right: 1px;
  margin:2px;
}
.tableHeadContainer{
  width: 100%;
  background-color: #fb5529;
  height: 32px;
  color: white;
}
.tableHeadText{
  width:25%;
  text-align: center;
}
.tableHeadTextBig{
  width:50%;
  text-align: center;
}
.tableRowContainer{
  width: 100%;
  height: 30px;
}
.tableRowText{
  width:25%;
  text-align: center;
}
.tableRowTextBig{
  width:50%;
  text-align: center;
}

/* ------------- PronostiquerView ---------------- */

.PronosticContainer{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
}
.PronosticFragment{
  background-color: white;
  border: 2px solid #fb5529;
  border-radius: 20px;
  margin:15px 30px 15px 30px;;
  padding:5px;
  text-align: center;
  font-size: 18px;
}
.editPronosticContainer{
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
/* ------------- LoginView ---------------- */

.loginContainer{
  width: 100vw;
  height: 100vh;
  background-color: var(--grey);
  color: white;
  padding: 5%;
  overflow: scroll
}
.formContainer{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  text-align: center;
  border: 2px solid #fb5529;
  border-radius: 20px;
  padding:10px;
  align-items: center;
  background-color: var(--lightGrey)
}
.inputLogin{
  margin-top: 10px;
  text-align: left;
  width:50%;
}
.LogoPronoping{
  width: 40%;
  margin-top: -10%;
  margin-bottom: -5%;
  margin-left: 30%;
}
.buttonsContainer{
  display: flex;
}
.btnRegister{
  background-color: white;
  color: #fb5529;
}
.btnRegister:hover{
  background-color: white;
  color: #fb5529;
}
